<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us - WowoHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>WowoHub</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/sentiment">Sentiment Analysis</a></li>
                <li><a href="/about">About</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h2>About Us</h2>
                <p>Christian Jodi Wisnuwardana - 2702257620<br>
                Ananda Samudra Maha Putra - 2702260552<br>
                Reynard Wistara Huga Wijaya - 2702234024</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 WowoHub | All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
